[% INCLUDE header.html
	title = 'Twitter Snapshotterer'
%]

<div class="row-fluid">
<div class="span12">
[% INCLUDE timeline.html %]
</div>
</div>

<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#overview" data-toggle="tab">Harvest Overview</a></li>
    <li><a href="#friends" data-toggle="tab">Friends</a></li>
    <li><a href="#followers" data-toggle="tab">Followers</a></li>
    <li><a href="#tweets" data-toggle="tab">Tweets</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="overview">
        [% INCLUDE user_in_session_pane_overview.html %]
    </div>
    <div class="tab-pane" id="friends">
        [% INCLUDE user_in_session_pane_friends.html %]
    </div>
    <div class="tab-pane" id="followers">
        [% INCLUDE user_in_session_pane_followers.html %]
    </div>
    <div class="tab-pane" id="tweets">
        [% INCLUDE user_in_session_pane_tweets.html %]
    </div>
</div>

 
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    


[% INCLUDE footer.html %]
