<div class="row-fluid">

<div class="span7">

<h3>User</h3>

<dl class="dl-horizontal">
<dt>Screen Name</dt>
  <dd>[% user.user_data_json.screen_name %]&nbsp;</dd>
<dt>Name</dt>
  <dd>[% user.user_data_json.name %]&nbsp;</dd>
<dt>URL</dt>
  <dd><a href="[% user.user_data_json.url %]">[% user.user_data_json.url %]</a>&nbsp;</dd>
<dt>Profile Image</dt>
  <dd><img src="[% user.user_data_json.profile_image_url %]"/>&nbsp;</dd>
<dt>Description</dt>
  <dd>[% user.user_data_json.description %]&nbsp;</dd>
<dt>Location</dt>
  <dd>[% user.user_data_json.location %]&nbsp;</dd>
<dt>Protected</dt>
  <dd>[% user.user_data_json.protected %]&nbsp;</dd>
<dt>Tweets</dt>
  <dd>[% user.user_data_json.statuses_count %]&nbsp;</dd>
<dt>Friends</dt>
  <dd>[% user.user_data_json.friends_count %]&nbsp;</dd>
<dt>Followers</dt>
  <dd>[% user.user_data_json.followers_count %]&nbsp;</dd>
</dl>

</div>
<div class="span5">

<h3>Session</h3>
<dl class="dl-horizontal">
<dt>ID</dt><dd>[% session.id %]&nbsp;</dd>
<dt>Start Time</dt><dd>[% session.start_time %]&nbsp;</dd>
<dt>End Time</dt><dd>[% session.end_time %]&nbsp;</dd>
<dt>Navigation</dt><dd>
[% IF previous_session_id %]
<a href="[% script_url %]?user=[% user_id %]&session=[% previous_session_id %]">Previous</a>
[% END %]
&nbsp;|&nbsp;
[% IF next_session_id %]
<a href="[% script_url %]?user=[% user_id %]&session=[% next_session_id %]">Next</a>
[% END %]
&nbsp;</dd>
</dl>

<h3>User Status</h3>

<dl class="dl-horizontal">
<dt>User Metadata</dt><dd>[% user.user_data_state %]&nbsp;</dd>
<dt>Friends</dt><dd>[% user.friends_state %]&nbsp;</dd>
<dt>Followers</dt><dd>[% user.followers_state %]&nbsp;</dd>
<dt>Tweets From</dt><dd>[% user.tweets_from_state %]&nbsp;</dd>
<dt>Tweets Mentioning</dt><dd>[% user.tweets_mentioning_state %]&nbsp;</dd>
</dl>

</div>
</div>
